body, menu{
    margin: 0;
}

menu{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

menu li{
    padding: 1em;
    list-style: none;
}

menu a{
    color: white;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

menu a:hover{
    color: white;
}

menu ul{
    display: flex;
}

.menuleft{
    display: flex;
}
.menuright{
    display: flex;
}